{% extends "./base.html" %}
{% block body %}
<form class="form-horizontal" method="POST" action="{% url 'anime:search' %}">
  <fieldset>
    {% csrf_token %}
    <div class="form-group">
      {{ search_form.query }}
    </div>
    <input type="submit" class="btn btn-primary" name="submit" value="Search" />
  </fieldset>
</form>
<p>DISCUSSIONS:</p>
{% for dis in discussions %}
  <p><a href="{% url 'anime:submission_detail' dis.id %}">{{ dis.title }}</a></p>
{% endfor %}
<p>REWATCHES:</p>
{% for re in rewatches %}
  <p><a href="{% url 'anime:submission_detail' re.id %}">{{ re.title }}</a></p>
{% endfor %}
{% endblock %}