{% extends './base.html' %}
{% load anime_extras %}
{% block body %}
<div class="row">
  <div class="card bg-light">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
      {{ submission_body|safe }}
    </div>
  </div>
</div>
{% for com in comments %}
  <div class="row justify-content-end">
  {% if com.level == 0 %}
    <div class="card border-dark col-{{ column_adj|get_index:com.level }}">
  {% else %}
    <div class="card border-light col-{{ column_adj|get_index:com.level }}">
  {% endif %}
      <div class="card-body">
        {{ com.body_html|safe }}
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}